<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ProjectSuite" parallel="tests" thread-count="2">
  <parameter name="baseUrl" value="https://example.com"/>
  <parameter name="reportPath" value="target/screenshots"/>

  <!-- Register listener here -->
  <listeners>
    <listener class-name="com.yourcompany.listeners.TestListener"/>
  </listeners>

  <test name="Chrome_Smoke">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.yourcompany.tests.LoginTest"/>
      <class name="com.yourcompany.tests.LoginFailureTest"/>
    </classes>
  </test>
</suite>
