package com.sravani.qa.poc.config;

public class Config {
    public static final String BASE_URL = "https://reqres.in/api";
    public static final String USER_NAME = "sravani";
    public static final String USER_JOB = "QA Lead";
    public static final int EXISTING_USER_ID = 2;
    public static final int NON_EXISTING_USER_ID = 23;
}
